h5{
    font-family: sans-serif;
    margin: auto 20px ;
    text-align: center;
    max-width: 600px;
    font-size: 12px;
    position:relative;
    
    }
    h5:before{
    content: "";
    display:block;
    width: 150px;
    height:1px;
    background: rgb(166, 166, 166);
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 0;
    }
    h5:after{
    content: "";
    display:block;
    width: 150px;
    height:1px;
    background:  rgb(166, 166, 166);
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 0;
    }